html, body {
  height: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
